#home {
  background: url(https://s3.amazonaws.com/persist-edtech-static-assets/infosite/images/home_sm.jpg) no-repeat center center fixed;
  padding-top: 20vh;
  height: 100%;
  width: 100%;
}
#home .white-bg img {
  width: 95%;
}
#solution {
  background: url(https://s3.amazonaws.com/persist-edtech-static-assets/infosite/images/solution.jpg) no-repeat center center fixed;
}
#testimonials {
  background: url(https://s3.amazonaws.com/persist-edtech-static-assets/infosite/images/testimonials.jpg) no-repeat center center fixed;
}
#contact {
  background: url(https://s3.amazonaws.com/persist-edtech-static-assets/infosite/images/indianapolis.jpg) no-repeat center center fixed; 
}