#home {
  background: url(../images/home_sm.jpg) no-repeat;
  padding-top: 20vh;
  height: 100%;
  width: 100%;
}
#home h2 {
  font-size: 1.5em;
}
#presenting {
  margin: 5px;
}
#presenting img {
  width: 100%;
  height: auto;
}
#solution {
  background-color: #ffffff;
  color: #000000;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#testimonials {
  background-color: #ffffff;
  color: #000000;
  display: table;
  height: 75%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#contact {
  background-color: #ffffff;
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #000000;
}
.names {
  margin-top: 40%;
}