#home {
  background: url(http://edtechassociates.github.io/images/home2_sm.jpg) no-repeat center center fixed;
  padding-top: 20vh;
  height: 100%;
  width: 100%;
}
#home .white-bg img {
  width: 95%;
}
#solution {
  background: url(http://edtechassociates.github.io/images/solution_sm.jpg) no-repeat center center fixed;
  color: #000000;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#testimonials {
  background: url(http://edtechassociates.github.io/images/testimonials_sm.jpg) no-repeat center center fixed;
  color: #000000;
  display: table;
  height: 75%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#contact {
  background: url(http://edtechassociates.github.io/images/indianapolis_sm.jpg) no-repeat center center fixed;
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #000000;
}