<!-- first section - Home -->
<div id="home">
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
        <div class="text-vcenter white-bg">
            <img src="http://edtechassociates.github.io/images/logo_color.png"><br>
            <a href="#contact" class="btn btn-primary btn-lg">Schedule a Demo</a>
        </div>
    </div>
</div>
<!-- /first section -->
<!-- second section - Our Mission -->
<div id="our-mission" class="pad-section">
    <div class="container text-center padding-top">
        <img src="http://edtechassociates.github.io/images/mission_title.png" style="width:40%;" class="hidden-xs">
        <img src="http://edtechassociates.github.io/images/mission_title.png" style="width:90%;" class="padding-bottom visible-xs">
        <h4>At Education Technology Associates, our mission is to transform student engagement in higher education, resulting in measurable improvements to student retention and institutional results.</h4> <hr />
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <i class="fa fa-pencil"> </i>
                <h3>STUDENT ENGAGEMENT</h3>
                <p>Drive attention, curiosity, interest, optimism, and passion</p>
            </div>
            <div class="col-sm-4 col-xs-12">
                <i class="fa fa-road"> </i>
                <h3>STUDENT PERSISTENCE</h3>
                <p>Maintain student focus and engagement throughout the duration of your programs</p>
            </div>
            <div class="col-sm-4 col-xs-12">
                <i class="fa fa-line-chart"> </i>
                <h3>STUDENT RETENTION</h3>
                <p>Yield the benefits of improved educational outcomes and preserved institutional revenue</p>
            </div>
        </div>
    </div>
</div>
<!-- /second section -->
<!-- third section - Solution -->
<div id="solution" class="pad-section">
    <div class="container text-center white-bg">
        <img src="http://edtechassociates.github.io/images/solution_title.png" style="width:40%;" class="hidden-xs">
        <img src="http://edtechassociates.github.io/images/solution_title.png" style="width:90%;" class="padding-bottom visible-xs">
        <h4><strong>Connected Campus</strong> is <strong>unique</strong> among engagement and retention solutions. We put the student experience <strong>first</strong> with an unequaled combination of features that help the student <strong>go beyond</strong> existing methods of academic participation and remain focused on building a better future.</h4>
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <a href="http://edtechassociates.github.io/images/academichall.jpg" data-lightbox="images"><img src="http://edtechassociates.github.io/images/academichall.png" class="img"></a>
                <ul class="padding-top">
                    <li>Guide students to stay focused on timely completion of academic assignments</li>
                    <li>Identify disengaged students through analytics, leading to successful interventions</li>
                </ul>
            </div>
            <div class="col-sm-4 col-xs-12">
                <a href="http://edtechassociates.github.io/images/courtyard.jpg" data-lightbox="images"><img src="http://edtechassociates.github.io/images/courtyard.png" class="img"></a>
                <ul class="padding-top">
                    <li>Engender loyalty with a unique and immersive 'sense of place'</li>
                    <li>Build meaningful social connections by presenting the “halls &amp; walkways” of the institution</li>
                    <li>Expand the power of peer mentoring through community associations</li>
                </ul>
            </div>
            <div class="col-sm-4 col-xs-12">
                <a href="http://edtechassociates.github.io/images/resourcecenter.jpg" data-lightbox="images"><img src="http://edtechassociates.github.io/images/resourcecenter.png" class="img"></a>
                <ul class="padding-top">
                    <li>Boost student self confidence through resource coaching and guidance</li>
                    <li>Present students with staff and faculty connections, removing any doubt on where to go for help</li>
                </ul>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="embed-responsive embed-responsive-16by9 video">
                <video class="embed-responsive-item" width="320" height="240" controls>
                    <source src="http://edtechassociates.github.io/images/alexis.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div>
<!-- /third section -->
<!-- fourth section - Research -->
<div id="research" class="pad-section">
    <div class="container text-center">
        <img src="http://edtechassociates.github.io/images/research_title.png" style="width:40%;" class="hidden-xs">
        <img src="http://edtechassociates.github.io/images/research_title.png" style="width:90%;" class="padding-bottom visible-xs">
        <h4>At EdTech Associates, we are paying attention to some of the leading voices in higher education today.  These voices and their research help shape our product and influence our development road map.</h4>
        <h4>For a sampling, we invite you to explore along with us how these thought leaders are bringing new insights into the higher education landscape.</h4>
        <hr />
        <div class="row">
            <div class="col-lg-4">
                <a href="http://tytonpartners.com/tyton-wp/wp-content/uploads/2015/08/Tyton_PlanningAdvising1.pdf" target="_blank"><img src="http://edtechassociates.github.io/images/tyton.png" /></a>
                <p>The evolution of planning and advising in higher education</p>
            </div>
            <div class="col-lg-4">
                <a href="https://www.luminafoundation.org/goal_2025" target="_blank"><img src="http://edtechassociates.github.io/images/lumina.png" /></a>
                <p>A focused approach of increasing the proportion of Americans with high-quality degrees</p>
            </div>
            <div class="col-lg-4">
                <a href="https://www.gatesnotes.com/Education/11-Million-College-Grads" target="_blank"><img src="http://edtechassociates.github.io/images/gates.jpg" /></a>
                <p>Research and practical experimentation at colleges and universities... to increase graduation rates while maintaining or reducing costs</p>
            </div>
        </div>
    </div>
</div>
<!-- /fourth section -->
<!-- fifth section - Testimonials -->
<div id="testimonials" class="pad-section">
    <div class="container text-center white-bg">
        <img src="http://edtechassociates.github.io/images/testimonials_title.png" style="width:40%;" class="hidden-xs">
        <img src="http://edtechassociates.github.io/images/testimonials_title.png" style="width:90%;" class="padding-bottom visible-xs">
        <div class="row">
            &nbsp;
            <blockquote>
                <p>Connected Campus is amazing. I honestly wish I could download it right now. It would make my life so much easier!"</p>
                <footer>Christen, Class of 2017</footer>
            </blockquote>
            <blockquote>
                <p>I can see how Connected Campus works just by looking at it. I still don't understand my school's LMS."</p>
                <footer>Haley, Class of 2019</footer>
            </blockquote>
            <blockquote>
                <p>Student engagement is the most critical component in causing the student to stay in school."</p>
                <footer>Dr. Debra Harrison, VP of Student Advancement and Success, Salem International University</footer>
            </blockquote>
            <blockquote>
                <p>From a student perspective, I think Connected Campus is perfect"</p>
                <footer>Alva, Director of Admissions, educational services provider</footer>
            </blockquote>
        </div>
    </div>
</div>
<!-- /fifth section -->
<!-- sixth section - Team -->
<div id="team" class="pad-section">
    <div class="container text-center">
        <img src="http://edtechassociates.github.io/images/team_title.png" style="width:40%;" class="padding-bottom hidden-xs">
        <img src="http://edtechassociates.github.io/images/team_title.png" style="width:90%;" class="padding-bottom visible-xs">
        <div class="row">
            <div class="col-sm-4">
                <a href="david.html"><img src="http://edtechassociates.github.io/images/david.png"></a>
            </div>
            <div class="col-sm-4">
                <a href="ken.html"><img src="http://edtechassociates.github.io/images/ken.png"></a>
            </div>
            <div class="col-sm-4">
                <a href="kevin.html"><img src="http://edtechassociates.github.io/images/kevin.png"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a href="connie.html"><img src="http://edtechassociates.github.io/images/connie.png"></a>
            </div>
            <div class="col-sm-4">
                <a href="luiz.html"><img src="http://edtechassociates.github.io/images/luiz.png"></a>
            </div>
            <div class="col-sm-4">
                <a href="mel.html"><img src="http://edtechassociates.github.io/images/mel.png"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a href="mark.html"><img src="http://edtechassociates.github.io/images/mark.png"></a>
            </div>
            <div class="col-sm-4">
                <a href="brett.html"><img src="http://edtechassociates.github.io/images/brett.png"></a>
            </div>
            <div class="col-sm-4">
                <a href="anton.html"><img src="http://edtechassociates.github.io/images/anton.png"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a href="megan.html"><img src="http://edtechassociates.github.io/images/megan.png"></a>
            </div>
            <div class="col-sm-4">
                <a href="anna.html"><img src="http://edtechassociates.github.io/images/anna.png"></a>
            </div>
        </div>
    </div>
</div>
<!-- /sixth section -->
<!-- seventh section - Contact -->
<div id="contact" class="pad-section">
    <div class="container white-bg">
        <div class="col-lg-4 col-sm-12 text-center">
            <img src="http://edtechassociates.github.io/images/logo_edtech.png" class="padding-bottom">
            <p class="small">With EdTech Experts located in Indianapolis, Dallas, and Boca Raton, FL</p>
            <a href="https://twitter.com/EdTechAssoc" target="_blank">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x"></i>
          </span>
            </a>
            <a href="https://www.facebook.com/EdTechAssociates/?fref=ts" target="_blank">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x"></i>
          </span>
            </a>
            <a href="https://www.linkedin.com/company/education-technology-associates" target="_blank">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x"></i>
          </span>
            </a>
            <a href="http://google.com/+Edtechassociates" target="_blank">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-google-plus fa-stack-1x"></i>
          </span>
            </a>
            <p class="padding-top"><a href="mailto:info@edtechassociates.com"><i class="fa fa-envelope"></i> info@edtechassociates.com</a><p>
            <p><i class="fa fa-mobile fa-lg"></i> 317.983.1382</p>
        </div>
        <hr class="hidden-md hidden-lg" />
        <div class="col-lg-6 col-lg-offset-1 col-sm-12">
            <h1 class="text-center">Get in contact with us!</h1>
            <p class="text-center">Schedule a demo today by filling out the form below</p>
            <div class="text-center">
                <span class="text-center" ng-class="EmailService.message.icon"></span>
                <span class="text-center" ng-class="EmailService.message.class" ng-bind-html="EmailService.message.html"></span>
            </div>

            <form class="form-horizontal" ng-submit="EmailService.supportFunctions.sendEmail()">
                <div class="form-group">
                    <label class="col-sm-2 control-label">*Email:</label>
                    <div class="col-sm-10">
                        <input class="form-control" ng-class="{'invalid': EmailService.invalid.email}" name="email" ng-model="EmailService.form.email"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">*Name:</label>
                    <div class="col-sm-10">
                        <input class="form-control" ng-class="{'invalid': EmailService.invalid.name}" name="name" ng-model="EmailService.form.contact"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">*Message:</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" ng-class="{'invalid': EmailService.invalid.message}" row="5" name="message" ng-model="EmailService.form.message"></textarea>
                    </div>
                </div>
                <input class="btn btn-primary pull-right" type="button" value="Submit">
            </form>
        </div>
    </div>
</div>